<div class="center hero-unit">
<div class="center hero-unit">
  <h1>Мой блог</h1>

  <h2>
    Здесь я возможно буду писать свои мысли, если они появятся..
    Количество статей на текущий момент: <span class="badge"><%= @count %></span>
  </h2>

  <%= link_to "Скорее хочу читать эти невероятные статьи!", articles_path, class: "btn btn-large btn-primary" %>
</div>

