<footer class="footer">
  <small>
    Макс Ашметьев
  </small>
  <nav>
    <ul>
      <li><%= link_to "Обо мне на hh.ru", 'https://spb.hh.ru/resume/8d981bbbff03a2d7d30039ed1f37556b767974' %></li>
      <li>2017</li>
    </ul>
  </nav>
</footer>
